body {
  background-color: #f1f6f9;
}
.navbar {
  background-color: #e8e8e8;
}
.first-section, .carousel-item {
   height: 500px !important;
}

.carousel-caption {
  /* background-color: #ebebeb; */
  border-radius: 10%;
  color: #000000;
  /* top: 10vh; */
}

.blog-container {
  margin: 70px 0 0 0;
}

.card {
  margin: 3%;
}


.blog-img{
  height: 250px;
}
