body {
  /* background-color: #f1f6f9; */
  background-color: #eeeeee;
}
.navbar {
  /* background-color: #d6e0f0; */
  background-color: #f0f5f9;
}
.first-section {
   height: 500px !important;
   margin: 5% 3% 3% 3%;
}

.carousel-item {
  height: 500px !important;
}

.carousel-caption {
  /* background-color: #ebebeb; */
  border-radius: 10%;
  color: #000000;
  /* top: 10vh; */
}



/* second section start */


.blog-container {
  margin: 70px 0 0 0;
}

.card-body {
  background-color: #ffffff !important;
}

.card {
  margin: 8%;
  filter: grayscale(100%);
  transition: 0.2s;
}


.card:hover {
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
  filter: grayscale(0);
  transform: scale(1.03);
}


.blog-img{
  height: 250px;
}
